body {
  background-color: lightgray;
}

h1, h2, h3{
  text-align: center;
}
.graph{
  margin: 0 auto;
  background-color: white;
}

.tooltip{
  background-color: lightsalmon;
  border: 1px solid black;
  widht: 100px;
  opicity: 0;
  color: black;
  position: absolute;
}